h1{
    color: black;
    align-self: center;
    display: flex;
    justify-content: space-around
}
h1:hover{
    background-color:khaki;
}

div:hover{
    background-color: antiquewhite;
}
.img{
    
    WIDTH: 50PX;
    JUSTIFY-CONTENT: CENTER;
    ALIGN-ITEMS: center;
    DISPLAY: table-row;
}
